<a href="https://colab.research.google.com/github/JaxPack13/ip2geo/blob/master/InitialFunctionLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduction to Statements**

In [1]:
print("Hello World")

Hello World

**Defining Variables**

In [2]:
x = 1

**More interesting facts about Statements**

In [3]:
var = 1
var2 = 2
var + var2

3

**Loops**

In [4]:
for i in range(10):
    print(f"This is the loop number: {i}")

This is the loop number: 0
This is the loop number: 1
This is the loop number: 2
This is the loop number: 3
This is the loop number: 4
This is the loop number: 5
This is the loop number: 6
This is the loop number: 7
This is the loop number: 8
This is the loop number: 9

**List**

In [5]:
my_basket = ["eggs", "butter", "apple"]

In [6]:
len(my_basket)

3

In [7]:
for food in my_basket:
    print(f"I am hungry and I am going to eat: {food}")

I am hungry and I am going to eat: eggs
I am hungry and I am going to eat: butter
I am hungry and I am going to eat: apple

**Dictionary**

In [8]:
my_dict = {"one": "apple", "two": "eggs", "three": "butter"}

In [9]:
len(my_dict)

3

In [10]:
my_dict.keys()

dict_keys(['one', 'two', 'three'])

In [11]:
my_dict["one"]

'apple'

O(1) Lookup

In [12]:
"one" in my_dict

True

In [13]:
"five" in my_dict

False

In [14]:
my_dict.values()

dict_values(['apple', 'eggs', 'butter'])

Looping with dictionary

In [15]:
for number, food in my_dict.items():
    print(f"This is {number}: This is food {food}")

This is one: This is food apple
This is two: This is food eggs
This is three: This is food butter

**Math Statements**
Use Python as a calculator to learn it

In [16]:
1+1

2

In [17]:
100*.20

20.0

In [18]:
2**2

4

Real-world math problem

In [19]:
expenses = [5, 90, 200, 2000]

In [20]:
total = 0
for expense in expenses:
    total += expense
    print(f"Adding the following expenses: TOTAL {total}, EXPENSE {expense}")

Adding the following expenses: TOTAL 5, EXPENSE 5
Adding the following expenses: TOTAL 95, EXPENSE 90
Adding the following expenses: TOTAL 295, EXPENSE 200
Adding the following expenses: TOTAL 2295, EXPENSE 2000